<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="input-output">Input output</a>
      <a mat-list-item routerLink="observables">Observables</a>
      <a mat-list-item routerLink="redux">Ngrx</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button class="tool-menu" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="toggleLoading()" type="button">
          <mat-icon>loop</mat-icon>
          <span>Toggle loading</span>
        </button>
        <button mat-menu-item (click)="loadAddresses()" type="button">
          <mat-icon>cloud_download</mat-icon>
          <span>Load addresses</span>
        </button>
        <button mat-menu-item (click)="clearStorage()" type="button">
          <mat-icon>cloud_download</mat-icon>
          <span>Clear storage</span>
        </button>
        <button mat-menu-item (click)="toggleFormVisibility()" type="button" role="menuitemcheckbox" class="mat-flat-button" [class.mat-primary]="isFormVisible | async">
          <mat-icon>{{formIcon | async}}</mat-icon>
          <span>Toggle form visibility</span>
        </button>
      </mat-menu>
      <span>NgWorkshop</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
